spring:
  application:
    name: libraryapi

  profiles:
    active: "test"

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/library}
    username: ${DATASOURCE_USER:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}

logging:
  pattern:
    console: '%clr(%d{dd-MM-yyyy HH:mm:ss}){faint} %clr(%5p) %clr([%t]){faint} %clr(%-40.40logger){cyan} %clr(:){yellow} %m%n'
  file:
    name: app.log
  level:
    root: warn
    org:
      springframework:
        web: debug

management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  override-with-generic-response: false

#production
---
spring:
  config:
    activate:
      on-profile: production
  jpa:
    show-sql: false